source https://nuget.org/api/v2

nuget FSharp.Formatting 2.4.36
nuget NUnit
nuget NUnit.Runners
nuget Nuget.CommandLine
nuget FAKE
nuget SourceLink.Fake
nuget FsCheck
nuget roundhouse
nuget FSharp.Core
nuget OctopusTools

github fsharp/FAKE modules/Octokit/Octokit.fsx
